doctype
html
  head
    title="Maxwell"

    meta(http-equiv="content-type", content="text/html; charset=UTF8")

    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='bower_components/rickshaw/rickshaw.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')

    script(type="text/javascript", src="bower_components/dat.gui/dat.gui.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="bower_components/lodash/lodash.js")
    script(type="text/javascript", src="bower_components/d3/d3.js")
    script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.js')

    script(type="text/javascript", src="dist/maxwell.js")

    script.
      $(document).ready(function (event) {
        var circuitFileName = "../circuits/#{circuit}.json";

        var canvas = $('canvas.maxwell').get(0);
        renderer = null;

        var circuit = Maxwell.createCircuit("#{circuit}", circuitFileName, function (circuit) {
          console.log("Circuit loaded! ", circuit, canvas);
          renderer = new Maxwell.Renderer(circuit, canvas);
        });

        componentList = "";

        components = Maxwell.Components;
        for (var i=0;  i<components.length; ++i) {
          component = components[i];
          $("#components").append("<li><a class='component' data-component-index='"+ i + "'>" + component.name + "</a></li>");
        }

        $('.component').click(function(evt) {
          var componentIndex = $(this).data("component-index");

          renderer.placeComponent = new Maxwell.Components[componentIndex];

          console.log(Maxwell.Components[componentIndex]);
          console.log($(this).data("component-index"));
        });
      });

  body
    .col-md-1
      #sidenav
        ul.list-unstyled
          - for (var i=0; i<circuit_names.length; ++i)
            li
              a(href="/"+circuit_names[i])= circuit_names[i]

    .col-md-10
      #container
        canvas.maxwell(data-circuit="#{circuit}", width="800", height="600")
        div(style="width: 300px; border: 1px solid #00F; height: 600px; float: right;")
        div(style="width: 100%; border: 1px solid #F00; padding: 15px;")

    .col-md-1
      #sidenav
        ul#components.list-unstyled

